<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <h1 style="color: #5e9ca0; text-align: center;"><span style="color: #ebbb14;">SaFo Informa</span></h1>
        <center><img src="https://satelliteforecast.com.ar/assets/img/SaFo.png" alt="SaFo" width="100" height="100"></center>
        <h2 style="color: #2e6c80; text-align: center;">{{.Topic}}</h2>
</head>

<div style="text-align: center;">
        <div style="text-align: center;">
                <span style="font-family: verdana, sans-serif; font-size: large;"><a
                                href={{.UrlPlace}}>{{.Place}}</a></span>
        </div>
        <div style="text-align: center;"><span
                        style="font-family: verdana, sans-serif; font-size: large;">{{.Coordinates}}</span></div>
        </div>
<div style="text-align: center;">
        <center><img src={{.UrlImagen}}></center>
</div>
<div style="text-align: center;"><span style="font-family: verdana, sans-serif; font-size: large;">Análisis</span>
</div>
<div style="text-align: center;">
        <span style="font-family: verdana, sans-serif; font-size: large;">[HISTOGRAMA?]</span>
</div>
<div style="text-align: center;">
        <span style="font-family: verdana, sans-serif; font-size: large;">{{.AlertDescription}}</span>
</div>
<div style="text-align: center;">
        <span style="font-family: verdana, sans-serif; font-size: large;">Se aconseja tomar las precauciones
                necesarias
                y contactar a las autoridades.</span>
                </div>
<div style="text-align: center;">
        <div>
                <span style="font-family: verdana, sans-serif; font-size: large;">Información útil</span>
        </div>
<div>
        <span style="font-family: verdana, sans-serif; font-size: large;">Dirección de Bomberos de la provincia de
                Córdoba +543514331928</span>
</div>
<div> <span style="font-family: verdana, sans-serif; font-size: large;">Federación de Bomberos Voluntarios de la
                Provincia de Córdoba: +54 351 451-5361</span></div>


</div>
<div style="text-align: center;">
        <span style="font-family: verdana, sans-serif; font-size: large;">Muchas gracias por su
                atención.</span>
</div>


</html>